+++
title = 'Verification'
menu = 'main'
weight = 3
+++

## Verification Competencies

[Testing Strategies]({{< relref "write-ups/verification/strategies.md" >}})


[Testing Infrastructure]({{< relref "write-ups/verification/infrastructure.md" >}})